.navheader{
    background-color: whitesmoke;
    width: 100%;
}

.main {
    background-color: slategrey;
    width: 100%;
    height: 100%;
}

.main-section {
    text-align: center;
}

button {
    background-color: #8bbadc;
    padding: 1em;
    box-shadow: black;
    margin-top: 40%;
}